@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .experiencia{
        @apply flex flex-col bg-gray-300 rounded-xl p-8 justify-around
        /* dark */
        dark:bg-zinc-900 
    }

    .experiencia>h1{
        @apply font-Lilita font-black text-[#201a1a] text-[50px] 
        drop-shadow-[0px_0px_7px_rgba(0,0,0,0.5)]
         shrink grow pb-5 text-center
        /* dark */
        dark:text-white  dark:drop-shadow-[0px_0px_3px_rgba(255,255,255,0.5)];;
    }
    
    .experiencia>img{

        @apply w-2/6 flex self-center
    }
    
    .proyectos{
        @apply flex flex-col
    }
    
    .proyectos>h2{
        @apply font-sans font-black text-[#201a1a] text-[25px] 
        drop-shadow-[0px_0px_7px_rgba(0,0,0,0.5)]
         shrink grow pb-5 text-center
        /* dark */
        dark:text-white dark:drop-shadow-[0px_0px_7px_rgba(0,0,0,0.5)];
    }

    .proyectos>p{
        @apply dark:text-white
    }
    .Plink{
        @apply bg-slate-400  w-fit p-2 rounded-full 
        hover:bg-slate-500 
        dark:text-white dark:bg-slate-800 dark:hover:bg-slate-700
    }

    .proContenido{
        @apply grid grid-cols-2 sm:grid-cols-1
    }

    .Plink:hover{
        @apply animate-jump animate-infinite animate-duration-[8000ms] animate-ease-out
    }

    @media(max-width:850px){
        .experiencia>h1{
            @apply text-[50px]
        }

        .proContenido{
            @apply grid-cols-1
        }

        .experiencia>img{
            @apply w-1/2
        }

    }

    @media(min-height:500px){
        .experiencia>img{
            @apply max-h-96 w-auto
        }
    }
}