@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .skills{
        @apply flex flex-col bg-gray-300 rounded-xl p-8 justify-around
        /* dark */
        dark:bg-zinc-900 
    }

    .tituloS{
        @apply font-Lilita font-black text-[#201a1a] text-[90px] 
        drop-shadow-[0px_0px_7px_rgba(0,0,0,0.5)]
         shrink grow pb-5 text-center
        /* dark */
        dark:text-white dark:drop-shadow-[0px_0px_7px_rgba(190,186,190,0.5)];
    }

    .skills>div{
        @apply grid grid-cols-3 place-items-center content-start
    }

    .skills>div>div{
        @apply w-2/4 h-fit mt-4 mb-4 
    }

    .porcentaje{
        @apply h-6 rounded-full mt-4  w-[100%] bg-blue-300
         drop-shadow-[0px_0px_7px_rgba(0,0,0,0.5)]
        dark:drop-shadow-[0px_0px_7px_rgba(255,255,255,0.5)]
    }

    .porcentaje>div{
        @apply h-6 bg-blue-900 rounded-full 
    }

    @media (max-width:450px){
        .imagenes{
            @apply grid-cols-1
        }
    }
}