@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    
    .indexC{
        @apply flex bg-gray-300 rounded-xl flex-wrap justify-around 
        p-10
        dark:bg-zinc-900 
    }
    
    .imgCI{
        @apply shrink flex m-7
        w-80
    }
    
    .imagenI{
        @apply rounded-tr-[60%] rounded-bl-[20%] rounded-br-[20%] rounded-tl-[10%]  
        w-80
        drop-shadow-[0px_0px_7px_rgba(0,0,0,1)]
    }
    
    .tituloCI{
        @apply flex flex-col m-7 align-middle self-center shrink grow flex-1
    }
    
    .tituloP{
        @apply font-Lilita font-black text-[#201a1a] text-8xl drop-shadow-[0px_0px_3px_rgba(0,0,0,0.5)]
        self-center align-middle text-center shrink grow
        /* dark */
        dark:text-white  dark:drop-shadow-[0px_0px_3px_rgba(255,255,255,0.5)];;
    }

    .infoI{
        @apply flex flex-col m-7
        bg-scroll
    }
    
    .infoI>h2{
        @apply font-Lilita text-[30px] 
        dark:text-zinc-50
    }

    .cambiaP1{
        @apply text-7xl
    }

    .cambiaP2{
        @apply text-4xl
    }

    .infoI>p{
        @apply text-[20px]
        dark:text-zinc-100
    }
    
    .infoI>ul{
        @apply list-disc list-inside text-slate-900 font-[Arial] text-[17px] 
        dark:text-zinc-100
    }

    .infoI>li{
        @apply leading-5 pb-4
    }

    .entrada{
        @apply animate-jump-in animate-once animate-duration-[1000ms]
    }

    @media(max-width:867px){
        
        .indexC{
            @apply p-0
        }

        .imgCI{
            @apply flex grow w-3/6 m-7 justify-around 
        }

        .imagenI{
            @apply rounded-tr-[20%] 
        }

        .cambiaP1{
            @apply text-7xl
        }

        .cambiaP2{
            @apply text-4xl
        }

        .infoI>h2{
            @apply text-2xl
        }

        .infoI>p{
            @apply text-xl
        }

    }
}

